@model SocialBookmarkApp.Models.Bookmark

<br />
<h2 class="text-center">Editare bookmark</h2>
<br />

<form asp-action="Edit" asp-controller="Bookmark" asp-route-id="@Model.Id" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="mb-3">
        <label asp-for="Title" class="form-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Description" class="form-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="MediaContent" class="form-label"></label>
        <input asp-for="MediaContent" class="form-control" />
        <span asp-validation-for="MediaContent" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Tag-uri (separate prin virgulă)</label>
        <input class="form-control" name="tags" maxlength="200" value="@ViewBag.TagsText" />
        <small class="text-muted">Ex: rock, synthwave, concert</small>
    </div>
    <div class="form-check mb-3">
        <input asp-for="IsPublic" class="form-check-input" />
        <label asp-for="IsPublic" class="form-check-label"></label>
    </div>
    

    <button class="btn btn-primary" type="submit">Salveaza</button>
    <a class="btn btn-secondary" asp-action="Show" asp-route-id="@Model.Id">Renunta</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}