@model SocialBookmarkApp.Models.Bookmark

@if (TempData["message"] != null)
{
    <div class="alert @TempData["messageType"] text-center">
        @TempData["message"]
    </div>
}

<br />
<h2 class="text-center">Adaugare bookmark</h2>

<form asp-action="New"
      asp-controller="Bookmark"
      method="post"
      enctype="multipart/form-data">

    <div class="mb-3">
        <label asp-for="Title" class="form-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Description" class="form-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Încarcă imagine / video</label>
        <input type="file"
               name="MediaFile"
               id="mediaFile"
               class="form-control" />
        <div class="text-danger mt-2" id="fileErr"></div>

        <script>
  const MAX = 20 * 1024 * 1024; // 20MB
  const input = document.getElementById("mediaFile");
  const err = document.getElementById("fileErr");
  const form = input.closest("form");

  form.addEventListener("submit", (e) => {
    err.textContent = "";
    if (input.files && input.files.length > 0) {
      const f = input.files[0];
      if (f.size > MAX) {
        e.preventDefault();
        err.textContent = "Fișierul este prea mare. Dimensiunea maximă este 20 MB.";
      }
    }
  });
</script>
    </div>
    
    <div class="form-check mb-3">
        <input asp-for="IsPublic" class="form-check-input" />
        <label asp-for="IsPublic" class="form-check-label"></label>
    </div>
    <div class="mb-3">
        <label class="form-label">Tag-uri (separate prin virgulă)</label>
        <input id="tags" class="form-control" name="tags" placeholder="ex: rock, synthwave, live" />
    </div>
    
    <button class="btn btn-success" type="submit">Adauga</button>
</form>
